* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
a{
    font-size: 25px; 
    float: left;
}

/* MENU DE NAVEGACION */
nav {
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 0 50px;
}
.menu {
    display: flex;
    margin-left: auto; /* Alinea los elementos del menú a la derecha */
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu .menu-i {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: 25px;
}
.menu .menu-i:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 8px;
    /* border-radius: 5px; */
}
.burguer {
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}
/* HOME */
.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 88vh;
    margin: 10px;
}
.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.home-logo img{
    width: 350px;
    height: auto;
    border-radius: 20px;
}
.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.home h1,p,a{
    margin: 0;
}
.home h1{
    font-size: 50px;
}
.home p{
    font: 40px;
}
.home a{
    font-size: 40px;
}
  
/* AboutMe */
.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr; 
    padding: 40px;
    margin: 10px;
}
.title-about-me{
    grid-column: 1/3;
    grid-row: 1/2;
}
.about-me h2{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.me-hobbies{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    border-radius: 20px; 
    margin: 12px;   
}
.me-goals{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    border-radius: 20px;
    margin: 12px;   

}
.me-studies{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    border-radius: 20px;
    margin: 12px;   

}
.me-job{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    border-radius: 20px;
    margin: 12px;   

}
.about-me h3{
    font-size: 40px;
    padding-top: 10px;
}
.about-me p{
 font-size: 16px;
 text-align: justify;
 padding-top: 10px;
}
.about-me i{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.about-me a{
    text-decoration: none;
    margin-left: 10%;
}

/* Skills */
.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr; 
    padding: 25px;
    margin: 10px;
}
.skills a{
    text-decoration: none;
    margin-left: 10%;
}
.skills h3{
    font-size: 28px
}
.skills h4{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.title-skills{
    grid-column: 1/3;
    grid-row: 1/2;
}
.title-skills h2{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.skill-techsupport{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
}
.skill-webdevelopment{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
}
.skill-database{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
}
.skill-productive{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
}
.skill-techsupport .icons-containerSupport {
    display: flex;
}
.skill-techsupport .icons-containerSupport i {
    margin-right: 15px; /* Espacio entre los iconos */
}
.skill-webdevelopment .icons-container {
    display: flex;
}
.skill-webdevelopment .icons-container i {
    margin-right: 15px; /* Espacio entre los iconos */
}
.skill-database .icons-containerdb {
    display: flex;
}
.skill-database .icons-containerdb i {
    margin-right: 15px; /* Espacio entre los iconos */
}
.skill-productive .icons-containerProductive {
    display: flex;
}
.skill-productive .icons-containerProductive i {
    margin-right: 15px; /* Espacio entre los iconos */
}

/* CV */
.cv{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 1fr; 
    padding: 20px;
    margin: 10px;
}
.title-cv{
    grid-column: auto;
    grid-row: 1/2;
}
.title-cv h2{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.cv a{
    text-decoration: none;
}
.mb-2{
    margin: auto;
}
.mb-3{
    margin: 30px 400px;
}
.card-body{
    grid-row: 2/3;
    grid-column: auto;
    margin: 15px;
}
/* Portfolio */
.portfolio{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 100px; 
    padding: 20px;
    margin: 10px;
}
.portfolio a{
    text-decoration: none;
}
.title-portfolio{
    grid-column: auto;
    grid-row: 1/2;
}
.content-portfolio{
    grid-column: auto;
    grid-row: 2/3;
}
.title-portfolio h2{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.content-portfolio h4, i    {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}


/* Contact */
.contact{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 100px; 
    padding: 20px;
    margin-top: 0;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0;
    width: auto;
    height: auto;
}
.contact a{
    text-decoration: none;
    float: left;
}
.title-contact{
    grid-column: auto;
    grid-row: 1/2;
}
.title-contact h2{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.btn-primary{
    margin-top: 10px;
    width: 150px;
}
.form-label{
    margin-top: 10px;
}
/* Footer */
footer {
    margin-top: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 13vh;
}
footer h3 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
}
footer h4 {
    font-size: 20px;
    margin: 0;
}





    