* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    font-size: 24px; 
    float: right; 
}

/* MENU DE NAVEGACION */
nav {
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.menu {
    display: flex;
    margin-left: auto; /* Alinea los elementos del menú a la derecha */
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu .menu-i {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: 20px;
}

.menu .menu-i:hover {
    color: #ffffff;
    background-color: #000000;
    padding: 8px;
    /* border-radius: 5px; */
}

.burguer {
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}


/* HOME */
.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
}
.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.home-logo img{
    width: 350px;
    height: auto;
    border-radius: 20px;
}
.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.home h2,p,a{
    margin: 0;
}
.home h2{
    font-size: 50px;
}
.home p{
    font: 40px;
}
.home a{
    font-size: 45px;
}
  
/* AboutMe */
.about-me{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    padding: 20px;

}

.me-hobbies{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
}
.me-goals{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
}
.me-studies{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
}
.me-job{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #F6F7F8;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
}

.about-me h2{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.about-me p{
 font-size: 15px;
 text-align: justify;
 padding-top: 15px;
}
.about-me i{
    text-align: center;
    font-size: 20px;
    padding: 15px;
}


















@media screen and (max-width: 800px) {
    /* Navbar */
        .burguer {
            display: block;
        }
        .menu {
            position: fixed;
            top: 10vh;
            left: 0;
            background: #cac7c7;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            line-height: 100px;
            transition: all 0.5s ease;
            transform: translateX(-100%);
        }
        .menu.active {
            transform: translateX(0);
        }
        .logo img {
            width: 65px;
            border-radius: 40px;
        }
    }

@media screen and (min-width: 801px) and (max-width: 1000px){
    /* Navbar */
        .burguer {
            display: block;
        }
        .menu {
            position: fixed;
            top: 10vh;
            left: 0;
            background: #cac7c7;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            line-height: 100px;
            transition: all 0.5s ease;
            transform: translateX(-100%);
        }
        .menu.active {
            transform: translateX(0);
        }
        .logo img {
            width: 65px;
            border-radius: 40px;
        }
    }